.hero {
  display: flex;
  flex-direction: column;
  height: 500px;

  position: relative;
}
.hero_bgImage {
  position: absolute;
  height: 500px;
  width: 100vw;

  z-index: 0;
}
.hero_tint {
  position: absolute;
  height: 500px;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.hero_bgImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showcase {
  z-index: 2;
  border: 2px solid blue;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
