/*events*/

.eventWrapper {
  width: 85%;
  margin: 0 auto;
  overflow: auto;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event {
  height: 400px;
  width: 450px;
}

.eventImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.eventA {
  text-align: center;
  width: 450px;
  padding: 20px;
}
@media all and (max-width: 545px) {
  .eventWrapper {
    width: 100%;
  }
  .event {
    width: 100%;
  }
  .eventA {
    width: 100%;
  }
}

/*events end*/

/*post*/
.blog {
  margin-top: 80px;
}
.blogHeading {
  margin-bottom: 50px;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  width: 75%;
  background-color: red;
  display: flex;
  margin-bottom: 40px;
  height: 220px;
}

.post_image {
  background-color: blueviolet;
  width: 190px;
  height: 100%;
}

.post_image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.post_info {
  height: 100%;
  background-color: green;
  flex: 1;
  padding: 20px;
}

.post_title {
  margin-bottom: 5px;
}
.post_date {
  margin-bottom: 15px;
}

.post_preview {
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;
}

@media all and (max-width: 719px) {
  .post {
    height: auto;
  }
  .post_image {
    height: 202px;
  }
}

@media all and (max-width: 479px) {
  .posts {
    align-items: center;
  }

  .post {
    flex-direction: column;
    width: 100%;
  }
  .post_info {
  }

  .post_image {
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 719px) {
  .posts {
    align-items: center;
  }

  .post {
    flex-direction: column;
    width: 320px;
  }

  .post_image {
    width: 100%;
  }
}

@media all and (min-width: 720px) and (max-width: 1023px) {
  .posts {
    align-items: center;
  }

  .post {
    width: 100%;
  }
}

/*post end*/

/*control box*/
.blog_controlbox {
  margin-top: 30px;
}

.controlbox_button {
  padding: 10px;
  margin-right: 60px;
  margin-bottom: 30px;
}
/*control box end*/
