/*events*/

.events {
  background-color: #ecc1cf;
}
.eventWrapper {
  width: 85%;
  margin: 0 auto;
  overflow: auto;
  max-width: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event {
  height: 400px;
  width: 450px;
}

.eventImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.eventA {
  text-align: center;
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 28px;

  background-color: #dd6a8f;
}

@media all and (max-width: 545px) {
  .eventWrapper {
    width: 100%;
  }
  .event {
    width: 100%;
  }
  .eventA {
    width: 100%;
  }
}

/*events end*/
