/*appointment*/

.appointment {
  padding: 80px 0px;
}

.formHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.mainFormHead {
  margin-bottom: 10px;
  font-size: 42px;
}

.secondFormHead {
  color: #333;
  margin-bottom: 10px;
}

.appFormArea {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.appForm {
  width: 520px;
  border: none;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form_item {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  background-color: #fafafa;
}
.itemAdjust {
  width: 250px;
}

.form_textarea {
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  border: none;
}

.instruct {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;

  color: #333;
}

.materiAdj {
  margin-bottom: 20px;
}

.times {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 460px;
}

.times_box {
  height: 50px;
  width: 140px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #583b4c;
  margin-bottom: 20px;
  color: #583b4c;
}

.times_box:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.times_box.timesActive {
  color: #ffffff;
  background-color: #583b4c;
}

.times_box:active {
  background-color: #fafafa;
}

.time {
  font-weight: 500;
}

.form_button {
  padding: 10px;
  min-width: 200px;
  width: 100%;
  border: none;
  background-color: #583b4c;
  color: white;
  margin-top: 20px;
}

.form_button:hover {
  color: #583b4c;
  border: 1px solid #583b4c;
  background-color: inherit;
}

.form_submit {
  margin-top: 1.2rem;
  padding: 0.73rem 3rem;
  background-color: #4caf50;
  border-left: 4px solid #388e3c;
  color: white;
}

.form_error {
  border-left: 4px solid red;
  background-color: #f9524d;
  padding: 0.73rem 3rem;

  margin-top: 1.2rem;
  color: white;
}
@media all and (max-width: 550px) {
  .appForm {
    width: 100%;
  }
  .itemAdjust {
    width: 100%;
  }
}
/*app end*/
