/*about*/
.about {
  display: flex;
  max-width: 2780px;
}
.about1 {
  width: 25%;
  background-color: blueviolet;
  position: relative;
  height: 450px;
}
.aboutImage {
  position: absolute;
  height: 110%;
  transform: translateY(-8.75%);
}
.aboutImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about2 {
  width: 65%;
  padding: 60px;
  position: relative;
}
.adjust {
  position: absolute;
  transform: translateX(-60%);
  padding-left: 40px;

  background-color: #fff;
}
.aboutTitle {
  font-size: 64px;
}
.aboutTalk {
  margin-top: 200px;
}

.talk {
  margin-bottom: 20px;
}

@media all and (max-width: 720px) {
  .about {
    display: block;
  }
  .about1 {
    width: 100%;
  }
  .aboutImage {
    position: static;
    height: 100%;
    transform: translateY(0);
  }
  .about2 {
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 10;
    transform: translateY(-70%);
  }
  .adjust {
    position: static;
    transform: translateX(0);

    width: 85%;
    padding: 20px;
  }
  .aboutTitle {
    text-align: center;
  }
  .aboutTalk {
    width: 85%;
    margin-top: 0px;
    background-color: white;
    padding: 20px;
  }
  .talk {
    text-align: center;
  }
}

/* .aboutHeadline {
  margin-bottom: 50px;
}
.aboutStory {
  background-color: blueviolet;
  width: 65%;
}

.aboutStory_item {
  margin-bottom: 30px;
} */

/*about end*/

/*services*/
.services {
}

.servicesList {
  width: 294px;
  border: 1px solid purple;
  /* margin: 0 auto; */
}

.servicesSectionTitle {
}

.item {
  height: 50px;
  width: 100%;
  background: red;
  display: flex;
  align-items: center;
}
.item_img {
  height: 100%;
  width: 50px;
  margin-right: 10px;
}
/* .servicesBox {
  height: 550px;
  border: 2px solid blue;
  position: relative;
}
.servicesHeadline {
  background-color: red;
  width: 30%;
  padding: 45px 30px 30px;
  height: 300px;
}

.servicesHeadline_title {
  font-size: 32px;
  width: 65%;
  display: inline-block;
  border: 2px solid blue;
}
.servicesCards {
  width: 70%;
  border: 2px solid purple;
  position: absolute;
  top: 110px;
  left: 250px;
  display: flex;
  flex-flow: row wrap;
}

.serviceCard {
  border: 2px solid green;
  height: 84px;
  width: 264px;
  display: flex;
  align-items: center;
}

.cardIcon {
  height: 65px;
  width: 65px;
  margin-bottom: 20px;
}

.cardTitle {
  margin-left: 20px;
  margin-bottom: 10px;
} */

@media all and (max-width: 879px) {
  /*services*/
  .servicesBox {
    height: auto;
  }

  .servicesHeadline {
    width: 100%;
    height: 240px;
  }
  .servicesCards {
    border: 2px solid purple;
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    justify-content: center;
  }

  .serviceCard {
    width: 210px;
  }
  .cardInfo {
    display: none;
  }
  /*services end*/
}
/*servicesE*/

/*contact*/

.info {
}
.infoLayout {
  display: flex;
}
.details {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contacts {
  border: 2px solid purple;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 210px; */
  width: 270px;
}
.contacts_icon {
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
}
.contacts_title {
  margin-bottom: 20px;
}
.contact_info {
  text-align: center;
}
.gmap {
  width: 50%;
}
.contactWrapper {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 140rem;
  display: flex;
  justify-content: space-around;
}

.formHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainFormHead {
  margin-bottom: 10px;
}

.secondFormHead {
}

.contactFormArea {
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 520px;
  background-color: blue;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form_item {
  width: 100%;
  padding: 10px;
}
.itemAdjust {
  width: 250px;
}

.form_textarea {
  width: 100%;
  padding: 10px;
}

.form_button {
  padding: 10px;
  min-width: 200px;
  width: 100%;
}

.form_submit {
  margin-top: 1.2rem;
  padding: 0.73rem 3rem;
  background-color: #4caf50;
  border-left: 4px solid #388e3c;
  color: white;
}
.form_error {
  border-left: 4px solid red;
  background-color: #f9524d;
  padding: 0.73rem 3rem;

  margin-top: 1.2rem;
  color: white;
}

@media all and (max-width: 1024px) {
  .contactWrapper {
    width: 95%;
  }
}

@media all and (max-width: 1365px) {
  .infoLayout {
    flex-direction: column;
    align-items: center;
  }

  .details {
    width: 100%;
    max-width: 550px;
  }
  .gmap {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 550px) {
  .contactForm {
    width: 100%;
  }
  .itemAdjust {
    width: 100%;
  }
}
/*contact end*/

/*appointment*/
.appFormArea {
  display: flex;
  justify-content: center;
}
.appForm {
  width: 520px;
}

.form_item {
  width: 100%;
  padding: 10px;
}
.itemAdjust {
  width: 250px;
}

.form_textarea {
  width: 100%;
  padding: 10px;
}

.materiAdj {
  /* display: flex; */
}
.form_button {
  padding: 10px;
  min-width: 200px;
  display: block;
  width: 100%;
}

.form_submit p {
  line-height: 4rem;
  height: 4rem;

  margin-top: 1.2rem;
  padding: 0.73rem 3rem;
  background-color: #4caf50;
  border-left: 4px solid #388e3c;
  color: white;
}
.form_error {
  border-left: 4px solid red;
  background-color: #f9524d;
  padding: 0.73rem 3rem;

  margin-top: 1.2rem;
  color: white;
}
@media all and (max-width: 550px) {
  .appForm {
    width: 100%;
  }
  .itemAdjust {
    width: 100%;
  }
}
/*app end*/

@media all and (max-width: 1024px) {
  /*about*/
  .about {
    padding-top: 50px;
  }
  .aboutStory {
    width: 100%;
  }
  /*aboutend*/
}
