.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 5px solid salmon;
  position: relative;

  /*creates space below the announcement*/
  margin-bottom: 170px;

  /*makes the hero always look good*/
  max-height: 1200px;
  /* a min-height will need to be set at some breakpoint after content is filled in*/
}
.hero_bgImage {
  position: absolute;
  height: 100vh;
  width: 100vw;

  z-index: 0;

  /*makes the hero's image always look good*/
  max-height: 1200px;
  /* a min-height will need to be set at some breakpoint after content is filled in*/
}
.hero_tint {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  z-index: 1;

  /*makes the hero's tint always look good*/
  max-height: 1200px;
  /* a min-height will need to be set at some breakpoint after content is filled in*/
}

.hero_bgImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*showcase */

.showcase {
  flex: 1;
  padding-top: 100px;
  border: 2px solid yellow;
  z-index: 2;
  position: relative;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 140rem;
  position: relative;

  border: 5px solid black;
}

.showcase1 {
  /* width: 65%; */
  /* border:1px solid blue; */
  padding-top: 80px;
}

.buttonBox {
  border: 2px solid purple;
  height: 65px;
  margin-top: 45px;
  display: flex;
}

.buttonBox a {
  border: 2px solid blue;
  width: 112px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.showcase2 {
  /* width: 35%; */
  /* border:1px solid purple; */
  position: relative;
  padding-top: 80px;
  border: 2px solid pink;
}

.tint {
  width: 200px;
  height: 200px;

  background-color: teal;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}
.announcement_tint {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #fff;
  opacity: 0.5;
}

.announcement {
  height: 250px;
  background-color: red;
  opacity: 0.3;
  /* padding-top: 50px; */
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  width: 85%;
  max-width: 1400px;
}

.announcementwrap {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 140rem;
  display: flex;
  height: 100%;
}

.announcement1 {
  background-color: teal;
  width: 105px;
  height: 100%;
}

.announcementIcon {
  height: 75px;
  width: 75px;
  background-color: blueviolet;
  margin-left: 10px;
}
.announcement2 {
  background-color: purple;
  width: 100%;
  height: 100%;
  border: 10px solid blue;
}

.accouncementTitle {
  color: white;
  margin-bottom: 35px;
}

.accouncementLink {
  width: 152px;
  height: 50px;
}
/*showcase end*/

/*about*/
.about {
  display: flex;
  max-width: 2780px;
}
.about1 {
  width: 25%;
  background-color: blueviolet;
  position: relative;
  height: 450px;
}
.aboutImage {
  position: absolute;
  height: 110%;
  transform: translateY(-8.75%);
}
.aboutImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about2 {
  width: 65%;
  padding: 60px;
  position: relative;
}
.adjust {
  position: absolute;
  transform: translateX(-60%);
  padding-left: 40px;

  background-color: #fff;
}
.aboutTitle {
  font-size: 64px;
}
.aboutTalk {
  margin-top: 200px;
}

.talk {
  margin-bottom: 20px;
}

@media all and (max-width: 720px) {
  .about {
    display: block;
  }
  .about1 {
    width: 100%;
  }
  .aboutImage {
    position: static;
    height: 100%;
    transform: translateY(0);
  }
  .about2 {
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adjust {
    position: static;
    transform: translateX(0);
    padding-left: 0px;
    width: 75%;
  }
  .aboutTitle {
    text-align: center;
  }
  .aboutTalk {
    width: 75%;
    margin-top: 30px;
  }
  .talk {
    text-align: center;
  }
}

/* .aboutHeadline {
  margin-bottom: 50px;
}
.aboutStory {
  background-color: blueviolet;
  width: 65%;
}

.aboutStory_item {
  margin-bottom: 30px;
} */

/*about end*/

/*services*/
.services {
}

.servicesBox {
  height: 950px;
  border: 2px solid blue;
  position: relative;
}
.servicesHeadline {
  background-color: red;
  width: 30%;
  padding: 45px 30px 30px;
  height: 300px;
}

.servicesHeadline_title {
  font-size: 32px;
  width: 65%;
  display: inline-block;
  border: 2px solid blue;
}
.servicesCards {
  width: 70%;
  border: 2px solid purple;
  position: absolute;
  top: 110px;
  left: 250px;
  display: flex;
  flex-flow: row wrap;
}

.serviceCard {
  border: 2px solid green;
  height: 264px;
  width: 264px;
  padding: 40px;
}

.cardIcon {
  height: 65px;
  width: 65px;
  margin-bottom: 20px;
}

.cardTitle {
  margin-bottom: 20px;
}
/*servicesE*/

/*contact*/

.info {
}
.infoLayout {
  display: flex;
}
.details {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contacts {
  border: 2px solid purple;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 210px; */
  width: 270px;
}
.contacts_icon {
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
}
.contacts_title {
  margin-bottom: 20px;
}
.contact_info {
  text-align: center;
}
.gmap {
  width: 50%;
}
.contactWrapper {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 140rem;
  display: flex;
  justify-content: space-around;
}

.formHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainFormHead {
  margin-bottom: 10px;
}

.secondFormHead {
}

.contactFormArea {
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 520px;
  background-color: blue;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form_item {
  width: 100%;
  padding: 10px;
}
.itemAdjust {
  width: 250px;
}

.form_textarea {
  width: 100%;
  padding: 10px;
}

.form_button {
  padding: 10px;
  min-width: 200px;
  width: 100%;
}

.form_submit {
  margin-top: 1.2rem;
  padding: 0.73rem 3rem;
  background-color: #4caf50;
  border-left: 4px solid #388e3c;
  color: white;
}
.form_error {
  border-left: 4px solid red;
  background-color: #f9524d;
  padding: 0.73rem 3rem;

  margin-top: 1.2rem;
  color: white;
}

@media all and (max-width: 1024px) {
  .contactWrapper {
    width: 95%;
  }
}

@media all and (max-width: 1365px) {
  .infoLayout {
    flex-direction: column;
    align-items: center;
  }

  .details {
    width: 100%;
    max-width: 550px;
  }
  .gmap {
    width: 100%;
    height: 250px;
  }
}

@media all and (max-width: 550px) {
  .contactForm {
    width: 100%;
  }
  .itemAdjust {
    width: 100%;
  }
}
/*contact end*/

/*appointment*/
.appFormArea {
  display: flex;
  justify-content: center;
}
.appForm {
  width: 520px;
}

.form_item {
  width: 100%;
  padding: 10px;
}
.itemAdjust {
  width: 250px;
}

.form_textarea {
  width: 100%;
  padding: 10px;
}

.materiAdj {
  /* display: flex; */
}
.form_button {
  padding: 10px;
  min-width: 200px;
  display: block;
  width: 100%;
}

.form_submit p {
  line-height: 4rem;
  height: 4rem;

  margin-top: 1.2rem;
  padding: 0.73rem 3rem;
  background-color: #4caf50;
  border-left: 4px solid #388e3c;
  color: white;
}
.form_error {
  border-left: 4px solid red;
  background-color: #f9524d;
  padding: 0.73rem 3rem;

  margin-top: 1.2rem;
  color: white;
}
@media all and (max-width: 550px) {
  .appForm {
    width: 100%;
  }
  .itemAdjust {
    width: 100%;
  }
}
/*app end*/

@media all and (max-width: 719px) {
  /*services*/
  /*services*/
  .servicesBox {
    height: auto;
  }

  .servicesHeadline {
    width: 100%;
    height: 210px;
  }
  .servicesCards {
    border: 2px solid purple;
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    justify-content: center;
  }

  .serviceCard {
    height: 165px;
    width: 210px;
  }
  .cardInfo {
    display: none;
  }
  /*services end*/
}
@media all and (max-width: 1024px) {
  .hero {
    margin-bottom: 0;
  }
  /*header*/
  .navbarDesktop {
    display: none;
  }
  .navbarMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*header end*/

  /*showcase*/
  .showcase {
    padding-top: 0;
  }
  .wrapper {
    width: 95%;

    /*liable to move to a different breack point;*/
    flex-direction: column;
  }

  .announcement {
    transform: translateY(0);
    width: 100%;
  }
  .announcementwrap {
    width: 95%;
  }
  .showcase1,
  .showcase2 {
    width: 100%;
  }

  .tint {
    margin-left: 50px;
  }

  /*showcase end*/

  /*about*/
  .about {
    padding-top: 50px;
  }
  .aboutStory {
    width: 100%;
  }
  /*aboutend*/
}

@media all and (min-width: 720px) and (max-width: 1365px) {
  /*services*/
  .servicesBox {
    height: auto;
  }

  .servicesHeadline {
    width: 50%;
    height: 210px;
  }
  .servicesCards {
    border: 2px solid purple;
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    justify-content: center;
  }

  .serviceCard {
    height: 165px;
  }
  .cardInfo {
    display: none;
  }
  /*services end*/
}
