.hero{
    display:flex;
    flex-direction: column;
    height:100vh;
    border:5px solid salmon;
}
.hero_header {
    padding: 10px 0 10px;
}
.header1 {
    
    display:flex;
}
.divider1 {
    height:65px;
    width: 25%;
}
.divider2 {
    height:65px;
    width: 75%;
    display:flex;
    flex-direction: row-reverse;
}

.logoArea_logo{
    height:6.5rem;
    width:6.5rem;
}

.logoArea_logo img {
    height:100%;
    width:100%;
    object-fit: cover;
}




.navbarDesktop {
    height:100%;
    display:flex;
    flex-direction: row;
    border:1px solid red;
    justify-content: center;
    align-items: center;
}

.navbarDesktop a {

    width:100px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

a.active{
    background-color: black;
    opacity:0.5;
    color:pink;
}

.navbarMobile{
    display:none;
}




/*showcase */

.showcase {
    flex:1;
    display: flex; 
    border:2px solid yellow
    
}

.wrapper{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 140rem;
     display:flex;
    
    border:5px solid black;
} 



.showcase1{
    width:65%;
    /* border:1px solid blue; */
    padding-top: 80px;

}


.buttonBox{
    border: 2px solid purple;
    height:65px;
    margin-top: 45px;
    display: flex;
}

.buttonBox a {
    border:2px solid blue;
    width:112px;
    height:45px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.showcase2{
    width:35%;
    /* border:1px solid purple; */
    position: relative;
    padding-top:80px;

}

.tint{
    width: 200px;
    height:200px;

    background-color:teal;
    opacity: 0.5;
    position: absolute;
    z-index:1;
}
.announcement_tint{
    position: absolute;
    z-index:2;
    width: 200px;
    height:200px;
    margin-left:30px;
    margin-top: 30px;
    background-color: #fff;
    opacity: 0.5;
}

.announcement{
    width: 170px;
    height:200px;
    margin-left:50px;
    margin-top: 50px;
    position: relative;
    z-index: 3;
}

/*showcase end*/


/*footer*/

.footerSocial{
    display:flex;
    justify-content: center;
}

.footerSocial_icon {
    margin-right:25px;
}

.footer2 p {
    text-align: center;
}

/*footer end*/

@media all and (max-width:1024px) {

    /*header*/
    .navbarDesktop{
        display:none;
    }
    .navbarMobile {
        display:flex;
        justify-content: center;
        align-items: center;

    }

    /*header end*/

    /*showcase*/
    .wrapper{
        width:95%;

        /*liable to move to a different breack point;*/
        flex-direction: column;
    }
    .showcase1,.showcase2{
        width:100%;
    }

    /*showcase end*/
}

